:root {
  --blue: #192E47;
  --green: #21BD8E;
  --white: #fff;
  --black: #0E0E14;
}

html {
  font-size: 62.5%;
}

body, html {
  border: 0;
  margin: 0;
  font-family: sans-serif;

  background: var(--black);
}

#container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  
  display: grid;
  grid-template-columns: 80% 20%;
  overflow: hidden;
}

.game-container {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 10px;

  padding: 10px;

  canvas {
    display: block;
    width: 100%;
    height: 100%;

    background: radial-gradient(233.66% 55.96% at 50% 47.02%, #15151C 30.19%, #0D0E15 96.43%);
    border: 1px solid var(--blue);
  }
}

.game-canvas__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 100%;
}

.games-tabs {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  nav {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;

    .line {
      height: 2px;
      border-radius: 1px;

      position: absolute;
      bottom: 0;
      margin: 10px 0 0 0;

      background: var(--green);
    }

    ul {
      display: flex;

      padding: 0;
      margin: 0;

      list-style: none;

      li {
        margin: 0 40px 0 0;
        opacity: 0.4;
        transition: all 0.4s ease;

        &:hover { opacity:0.7; }
        &.active { opacity: 1;  }
        &:last-child { margin-right: 0; }

        div {
          display: block;

          color: var(--white);
          font-size: 1.8em;
          letter-spacing: 0.2em;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

.navbar-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;

  padding: 30px 14px 0px 14px;

  background: radial-gradient(280.02% 67.06% at 50.00% 35.91%, #15151C 24.01%, #0D0E15 96.43%);
  box-shadow: -6px 4px 33px 0px rgba(0, 0, 0, 0.25);
}

.jdis-header {
  &__container {
    width: 80%;
    max-width: 80%;
    height: auto;
    margin-left: 10%;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}

#posessions {
  display: flex;
  padding: 8px;
  gap: 4px;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid var(--blue);
  border-radius: 5px;

  overflow: hidden;
}

.posession {
  display: flex;
  width: calc(100% - 32px);
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--black);

  font-weight: 800;
  font-size: 1.4em;
}

.game-stats {
  margin-top: 40px;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 16px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    color: var(--green);
    font-size: 2em;
    font-weight: 900;
  }
}

.logo {
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 10em;
}